00_input/assemblies_otherResources.tar.gz
00_input/consideration_on_dmrt1L.txt
01a_assemblies_NCBI/*
01b_assemblies_otherResources/*
01c_transcriptomes/*
01d_FINAL_dataset/*
02_busco/*
02_busco.tar.gz
03_family_identification/*
04_family_annotation_filtering/*
05b_family_phylogeny_dmrt_onlyBivalves/*
05_family_phylogeny/*
06_possvm_orthology/*
07_orthofinder/*
08_orthogroup_decomposition/*
09_orthogroup_alignments/*
09_orthogroup_alignments.tar.gz
09_orthogroup_alignments_withoutSgloAmar/*
10_SRG_decomposition/*
11_SRG_alignments/*
12_model_selection/*
13_distribution_divergence/*
*BACKUP/*
BACKUP_SOX/*
*tmp*
traccer_accelerated_genes/*
traccer_constrained_genes/*
14_selection_analysis/*
DE_eggs/*
